.filterWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.filterLabel {
  margin-bottom: 8px;
}
.input {
  border-radius: 5px;
  border: 1px solid darkgrey;
  outline: none;
  padding: 3px 6px;
  transition: all 0.2s ease;
}

.input:focus {
  box-shadow: 0 1px darkgray;
}
